input.chave-input,
input.chave-input:-webkit-autofill,
input.chave-input:-webkit-autofill:hover,
input.chave-input:-webkit-autofill:focus {
  font-family: Rawline, Roboto, sans-serif !important;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #1C1C1E !important;
  background-color: #fff !important;
}
